@import 'primeicons/primeicons.css';
@import 'reset.css';
@import 'input.css';
@import 'period.css';
@import 'company.css';

.linethrough {
  text-decoration: line-through;
  color: darkgreen;
}

.save-btn {
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  margin-top: 20px;
}

label {
  display: block;
  font-size: 12px;
}

input {
  max-width: 100px;
  text-align: center;
}

.input-group {
  align-items: center;
  text-align: center;
}

.input-group--horisontal {
  display: flex;
}

.input-group--align-center {
  align-items: center;
}

.gap {
  gap: 10px;
}

.gap-s {
  gap: 5px;
}

.gap-m {
  gap: 15px;
}

.gap-l {
  gap: 20px;
}

.mt-s {
  margin-top: 10px;
}

.mt-m {
  margin-top: 15px;
}

.feeds {
  margin-top: 15px;
}

.feed-day {
  color: var(--color-text);
  font-size: 0.8rem;
  text-align: center;
}

.feed-day__price {
  font-weight: 700;
}

.sum {
  margin-top: 40px;
  justify-self: end;
  align-items: center;
}

.sum__title {
  text-align: center;
  font-size: 1.1rem;
}

.sum__value {
  text-align: center;
  font-size: 2.5rem;
}

hr {
  width: 100%;
  opacity: 0.3;
}

.card {
  width: 300px;
}

.date,
.rating {
  position: absolute;
  top: 10px;
  font-size: 0.7rem;
}

.date {
  left: 15px;
}

.rating {
  right: 15px;
}

.settings-btn,
.statistic-btn {
  position: fixed;
  display: grid;
  row-gap: 20px;
  bottom: 30px;
}

.settings-btn {
  right: 20px;
}

.statistic-btn {
  left: 20px;
}
